<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>

  <!-- Encoding filter -->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>ua.training.vitascherry.controller.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>

  <!-- Authorization filter -->
  <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>ua.training.vitascherry.controller.filter.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Authentication filter -->
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>ua.training.vitascherry.controller.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/signin</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/register</url-pattern>
  </filter-mapping>

  <!-- Main servlet -->
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>ua.training.vitascherry.controller.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- Register servlet -->
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>ua.training.vitascherry.controller.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <!-- Sign-in servlet -->
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>ua.training.vitascherry.controller.servlet.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>

  <!-- Quiz servlet -->
  <servlet>
    <servlet-name>QuizResultServlet</servlet-name>
    <servlet-class>ua.training.vitascherry.controller.servlet.QuizResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizResultServlet</servlet-name>
    <url-pattern>/result/*</url-pattern>
  </servlet-mapping>

  <!-- Index page -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- For safe -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.ico</url-pattern>
  </servlet-mapping>
</web-app>
