<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>

  <!-- Main servlet -->
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>ua.training.vitascherry.controller.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- Authorization filter -->
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>ua.training.vitascherry.controller.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>

  <!-- Encoding filter -->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>ua.training.vitascherry.controller.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>

  <!-- Sign In filter -->
  <filter>
    <filter-name>SignInFilter</filter-name>
    <filter-class>ua.training.vitascherry.controller.filter.SignInFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignInFilter</filter-name>
    <url-pattern>/signin</url-pattern>
  </filter-mapping>

  <!-- Sign Out filter -->
  <filter>
    <filter-name>SignOutFilter</filter-name>
    <filter-class>ua.training.vitascherry.controller.filter.SignOutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignOutFilter</filter-name>
    <url-pattern>/signout</url-pattern>
  </filter-mapping>

  <!-- Registration filter -->
  <filter>
    <filter-name>RegisterFilter</filter-name>
    <filter-class>ua.training.vitascherry.controller.filter.RegisterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegisterFilter</filter-name>
    <url-pattern>/register</url-pattern>
  </filter-mapping>

  <!-- Index page -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Error page -->
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/view/error.jsp</location>
  </error-page>

  <!-- Styles -->
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
</web-app>
